html,
body {
    height: 100%;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    overflow: hidden;
}

:root {
    --body-color: #B4C5D8;
    --bg-color: #263A47;
    --text-color: #FFE8E1;
}

body {
    /* background-color: var(--bg-color); */
    background-color: var(--body-color);

}

.container {

    background-color: var(--bg-color);
    margin: 3rem auto;
    width: 60%;
    height: 80vh;
    border-radius: 10px;
    /* box-shadow: 0px 0px 8px 1px rgba(255, 232, 225, 0.648); */

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1rem 0;

}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.social__links {
    z-index: 1;
}

a {
    text-decoration: none;
}


i {
    color: var(--body-color);
    font-size: 22px;
    padding: 7px;
}

i:hover {
    color: var(--text-color);
    cursor: pointer;
    transition: 0.9s ease-out;
}


.toggle i {
    color: var(--text-color);
    font-size: 22px;
}

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    position: relative;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 7rem;
    color: var(--text-color);
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.author{
    color: var(--body-color);
}

#png {
    width: 60%;
    position: absolute;
    bottom: 12%;

}



.quote-btn {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 6px 108px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 3rem;
    position: absolute;
    top: 28vh;
    z-index: 1;

}


.quote-btn:hover {
    background-color: var(--body-color);
}


.quote-btn:active {
    background-color: var(--body-color);
    box-shadow: 1px 0 4px 1px rgba(255, 232, 225, 0.648);

}

.author {
    color: var(--text-color);
}

footer {
    color: var(--bg-color);
    text-align: center;
    margin-top: -1rem;
}





/* MOBILE SCREEN RESPONSIVE */

@media screen and (min-width:320px) and (max-width:480px) {
    .container {
        min-width: 90%;
        height: 80%;
    }

    h1{
       font-size: 14px;
    }

    #png{
        position: absolute;
        width: 90%;
        top: 53%;

    }

  
   

    .quotes{
        padding-right: 2rem;
        padding-bottom: 8rem;
        padding-left: 2rem;  
    }
  
    .quote-btn{
        top: 30vh;
        padding: 6px 40px;
        font-size: 14px;
  
    } 

    .logo{
        font-size: 14px;
    }

    i{
        font-size: 16px;
        padding: 5px;
    }

    .toggle i{
        font-size: 14px;
    }
    
  
}



@media screen and (min-width:481px) and (max-width:1024px) {
    .container {
        width: 90%; 
    }

    h1{
       font-size: 14px;
    }

    #png{
        position: absolute;
        width: 90%;
    }

    .quotes{
        padding: 5rem;

    }

  
}